body{
    background-color: #0d1137;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:50px;
    background-color: #3498db;
    animation: gradientTransition 5s linear infinite;

}
@keyframes gradientTransition {
    0% { background-color: #22092C; }
    50% { background-color: #321E1E; }
    100% { background-color: #180A0A; }
  }
.firstbox{
    
    background-color: #e74d83;
    height: 555px;
    width:444px ;
    border-radius: 20px;
}
.secondbox h2{
    color:#FFF323;
    display: flex;
    justify-content: center;
    position: relative;
    top:10px;
   
}

.inputbox{
    position: relative;
    top:111px;
    left: 21px;
    width: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding:10px;
      font-size: 16px;
     
}
.tick{
    position: relative;
    top:72px;
    left: 391px;
    padding:10px;
    border-radius: 10px;
    outline: none;
    /* font-size: larger; */
}
.tick:hover{
    cursor: pointer;
    background-color: #7fc8c1;
 
}
.secondbox ol{

    position: relative;
    top:60px;
    font-size:24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
